/**********************************************
		POSITIONNING

		**************************************/

.global-container {
	max-width: 1850px;
	margin: 0 auto;
}

.flex-column-100 {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.fgrow1 {
flex-grow: 1;
}


.section {

	&.regular-spacing {
		margin: 5em 0; 
	} 

	&.h1-spacing {
		margin: 2.5em 0;

	}
 

	&.half-spacing {
		margin: 1.75em 0;
	}

	&.double-top-spacing {
		margin-top: 5.4em;
	}

	&.double-bottom-spacing {
		margin-bottom: 5.4em;
	}

	&.regular-padding {
		padding: 5em 0;
	}

	&.border-padding {
		.container {
			padding: 5.4em 0;
			border-bottom: 1px solid #dee2e6;
		}
	}

	&.half-padding {
		padding: 2.5em 0;
	}

	&.total-half-padding {
		padding: 2.5em;
	}

	&.third-padding {
		padding: 1.8em 0;
	}

	&.extra-padding-bottom {
		padding-bottom: 5em;
	}
}

footer .global-container {
	display: flex;

	.menu-footer-right-container {
		margin-left: auto;
	}
}



@media (min-width: 1200px) {
	.container {
		max-width: 1230px!important;
	}
}

