/**********************************************
		STYLING NAVIGATION

		**************************************/


/* LEAVE FOLLOWING SECTION LIKE THIS  */
.navbar-light .navbar-toggler {
	border: none!important;
}
.nav-link {
	transition: color 0.5s;
	color: $color__body;
}

.navbar-nav .nav-link {
	font-size: $nav__fontsize_links;
	font-weight: $regular;
}



.navbar-nav .menu-item {
	margin-right: $nav__spacing_items;
	margin-left: $nav__spacing_items;
}

.home .navbar-nav .menu-item {
		&:hover > a {
		color: $color__hover;
	}
}


//COLORS 

.home .nav-link, .home .wpml-ls-item a {
	color: $nav__color_links;
}


.current-menu-item a.nav-link {
	color: $color__hover;
}

.account-icon a {
	font-size:0!important;

	&:before {
		content: "\e903";
		font-family: 'icomoon';
		font-size: 14px;
	}
}

.cart-icon, .search-icon, .account-icon {
	margin-left: 0.2em!important;
	margin-right: 0.2em!important;
}
.cart-icon a {
	font-size:0!important;

	&:before {
		content: "\e902";
		font-family: 'icomoon';
		font-size: 14px;
	}
}

.search-icon a {
	font-size:0!important;

	&:before {
		content: "\e904";
		font-family: 'icomoon';
		font-size: 14px;
	}
}
//****************************
//DROPDOWNS
//****************************

.dropdown-item.active, .dropdown-item:active, .dropdown-item:focus {
	color: $color__hover;
	text-decoration: none;
	background-color: transparent;
}

.navbar {
	.menu-item-has-children {
		display: flex;
		align-items: center;
	}
	.menu-item-has-children::after {
		font-family: 'icomoon';
    content: "\e901";
		font-size: 8px;
		border:none;
		color: $nav__color_links;
}

	.menu-item-has-children:hover:after {
		content: "\e900";
	}

	.menu-item-has-children:hover {

		.dropdown-menu {
			display: block;
		}
	}
	.dropdown-menu {
		border:none!important;
	/* 	margin-top: -16px; */
		background: rgba(255,255,255,0.8);
		border-radius: 0;

		li {
			margin-left: 0;

			a {
				padding-left:0.5rem;

				&:hover {
					background: transparent;
					color: $color__hover;
				}
			}
		}

		@media(min-width: 992px) {
		/* 	margin-top: -16px; */
		}
	}
}
//************************************************






