/**********************************************
		ELEMENT STYLING

		**************************************/

/**********************************************
    LEAVE THE FOLLOWING SECTION 
  	**************************************/

* {
  box-sizing: border-box;
}

.object-fit-cover {
  object-fit: cover;
  width: 100%;
}

.circled {
  border-radius: 50%;
}

/**********************************************
    THEME 
  	**************************************/

.home #master-header {
  height: 100vh;
}

.bgheight600 {
  height: 400px;

  @media(min-width: 992px) {
    height: 600px;
  }
}

.circled {
  width:325px;
  height: 325px;
}
/* FOOTER */
footer .menu {

    .menu-item {
      margin-right: $footer__spacing_items; 
      margin-left: $footer__spacing_items; 

    a {
      $footer__color_links: #4E4E4E;
      $footer__fontsize_links: 1.2em;
      text-decoration: none;
    }
  } 
}

.accordion {

  .card {
    border: none;

    .card-header {
      background: transparent;
      border-bottom-color:  #787676;
      padding: 0;
    } 

    .btn {
      font-size: 1.5em;
      color: $color__body;
      text-decoration: none;
      font-weight: $light;
      padding-left: 0;
      display:flex;
      align-items: center;

      &:after {
          font-family: 'icomoon';
          content: "\e901";
          font-size: 8px;
          border:none;
          color: $nav__color_links;
          margin-left: 15px;

      }

      &.closed:after {
        content: "\e901";
      }

      &.open:after {
        content: "\e900";
      }
    } 
    
    .card-body {
      font-size: 1.5em;
      p {
        font-size: 1em;
      }

      .answer-container {
        padding: 1em 0;
        background: #CBDFE6;
      }
    }
  }
}


// SEARCH FORM
.search-form-container {
  display: inline-block;
  margin-bottom: 1.2em;
}
#search-form {
  border-bottom: 1px solid $color__body;
  ::placeholder, input {
    font-style: italic;
    font-size: 1em;
    font-weight: $light;
  }

  input, input:active, input:focus {
    font-size: 1.5em;
    border: none;
    outline: 0;
    width: 305px;
    height: 29px;
    font-weight: 100;
  }

  button[type=submit] {
    background: transparent;
    border: none;
  }
}

.header-search-form-container {
  background:white;
  display:none;

  #search-form {
    border-bottom:1px solid $color__body;
  }

  .form-close {
    font-size: 1.5em;
    margin-left: 20px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.5s;

    &:hover {
      opacity: 1;
    }
  }
}

.show-all-link {
  margin-right: 5px;
}

// TOGGLE SINGLE PRODUCT
.custom-description {
  .label {
    display: flex;
    justify-content: space-between;
    
    &.closed:after {
     @include chevron-top;
     margin-right: 20px;
    }

    a.opened:after {
        @include chevron-bottom;
        margin-right: 20px;
      }
    }
}

.section-icones {
  
  .title {
    font-size: 1.5em;
    font-weight: $light!important;
  }

  i {
    font-size: 2em;
  }
}

.insta-link {
  a {
    font-weight: 400;
    font-size: 1.2em;
  }
}