/**********************************************
		ELEMENT STYLING

		**************************************/

/**********************************************
    LEAVE THE FOLLOWING SECTION 
  	**************************************/

* {
  box-sizing: border-box;
}



/**********************************************
    THEME 
  	**************************************/
#master-header.home {
  height: 100vh;
}
   
/* FOOTER */
footer .menu {
  display: flex;

    .menu-item {
      margin-right: $footer__spacing_items; 
      margin-left: $footer__spacing_items; 

    a {
      $footer__color_links: #4E4E4E;
      $footer__fontsize_links: 1.2em;
      text-decoration: none;
    }
  }
}



 
 