/**********************************************
		TITLES STYLING

		**************************************/

h2 {
  &:not(.white) {
    font-weight:300;
  }

  &:white {
    font-weight: 400;
  }
  font-size: 2.5em;

  @media(min-width: 992px) {
    font-size: 3em;
  }

}

h2.title-lines {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;

  &:not(.white) {
    border-color: $color__body;
  }

  &.white {
    border-color: white;
  }

  &:before, &:after {
    content: '';
    border-top: 1px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;

    @media(min-width: 992px) {
      margin: 0 90px 0 0;
    }
  }

  &:after {
    margin: 0 0 0 20px;
    @media(min-width: 992px) {
      margin: 0 0 0 90px;
    }
  }
}

