/**********************************
	COLORS
	***********************************/
$color__body: #4E4E4E;
$body__background: #FFF;
$color__primary: #4E4E4E;
$color__accent: #FFFFFF;
$color__links: #4E4E4E;
$color__alt: #787676;

$color__hover: #9ABACF;



$background-light: #F8F8F8;
$background-dark: #304D60; 

$border: rgba(177, 177, 177, 0.3);
$color__border-button: rgba(255, 254, 247, .5);
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;


$font__primary: 'Josefin Sans', sans-serif;

$light: 300;
$regular: 400;
$medium: 500;
$semi: 600;
$bold: 700; 



/* MAIN NAVIGATION  
		DARK 
*/

$nav__color_links: #C4C4C4;
$nav__color_links_hover: $color__hover;
$nav__fontsize_links: 1.2em;
$nav__spacing_items: 1.2em; 

/* FOOTER NAVIGATION  */
$footer__color_links: #4E4E4E;
$footer__fontsize_links: 1.2em;
$footer__spacing_items: 1.2em; 

