/**********************************************
		WOOCOMMERCE STYLES

		**************************************/


/* Single page Product Gallery */
.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
    width: 100%;
}

.product-gallery {
  .slick-track {
    display: flex !important;
  }

  .slick-slide {
      height: inherit !important;
  }
}



.woocommerce-product-gallery__container img {
  @media(min-width:992px) {
    margin-bottom: .8em;
  }
}

.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
  float: left;
  width: 100%;

  @media(min-width:992px) {
    width:63%;
  }
}

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
  float: right;
  width: 100%;
  clear: none;

  @media(min-width:992px) {
    width:35%;
  }
}

.woocommerce div.product .product_title {
  margin-bottom: 0;
}

.woocommerce-product-details__short-description, .woocommerce div.product p.price, .woocommerce div.product span.price {
  font-size: 1.5em;
}

 .woocommerce div.product p.price, .woocommerce div.product span.price, .product-template-default .woocommerce ul.products li.product .price {
  color: $color__body;

  bdi {
    font-weight: bold;
  }
  .price_suff {
    font-size: 1em;
  }
}

.woocommerce div.product form.cart .variations label {
  font-weight: $light; 
  font-size: 1.5em;
}

.woocommerce div.product form.cart .variations td.label, .desc-container .label {
  border-top: 1px solid $color__body;
  border-bottom: 1px solid $color__body;
  margin-bottom: .5em;
  line-height: 2em;
  padding-top: 5px;
 /*  display: flex; 
  
  label{
    flex-grow: 1;
  } */

/*   &:after {
    font-family: 'icomoon';
    content: "\e900";
    color: #c4c4c4;
    font-size: .8em;
    cursor: pointer;
  } */
}

/* .value.woo-variation-items-wrapper {
  margin-bottom: 2em;
} */

.variable-item.button-variable-item {
  font-weight: $light;
}

.button-variable-item span {
  font-size: 1.5em!important;
} 

.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item):hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1)!important;
}


.variations tr:not(:last-child) {
  display: block;
  margin-bottom: 1.5em;
}
.woocommerce div.product form.cart .variations {
  margin-bottom: 0;
}
.desc-container, .extra-container p {
  font-size: 1.5em;
}
.assemblage-time .value-field {
  font-size: 1.25em;
}

.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover, single_add_to_cart_button button alt disabled wc-variation-selection-needed, #add_to_cart_button {
  width: 100%;
  @include wc-button;
}

.woocommerce .button, .woocommerce button.button {
  background-color: #D8DDE6!important;
  transition: none!important;
  color: $color__body!important;
  font-weight: $regular!important;
  font-size: 20px!important;
  border-radius: 0!important;
}



.extra-description {
  clear: both;
}

.up-sells {
  .woocommerce-loop-product__title {
    font-size: 1.5em;
    font-weight: $regular;
    float: left;
    padding: 0!important;
  }
  .price {
    float:right;
    bdi {
      font-weight: $light!important;
    }
    &:after {
      clear: both;
    }
  }

  a.button {
    display: none!important;
  }
}


// BREADCRUMB
.woocommerce .woocommerce-breadcrumb {
  margin-top:2em;
  margin-bottom:2em; 
  font-size: 1.25em;
  color: #787676;

  a {
    text-decoration: none;
    font-size: 1em;
    color: #787676;
  }
}


// YITH Wishlist 
.yith-wcwl-add-button span {
  display: none;
}
.wish-button-container {
  margin-left: 10px;
}

// archive product


.woocommerce-loop-product__title {
  text-transform: uppercase;
  color: $color__alt;
  font-size: 1.2em;
  padding: 0;
  margin-bottom: 0;
  line-height: 1;

  a {
    text-decoration: none;
  }
}

.catalogue-container .woocommerce-Price-amount.amount {
  color: $color__alt!important;
  font-size: 1em!important;
  font-weight: $light;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
  margin-bottom: 1em;
}

.catalogue-container {
  .short-description {
    font-size: 1em;
  }
}


// Filters
.head-col {
  font-weight: $semi;
  font-size: 1.6em;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.filter-title {
  font-weight: $bold;
}

.filter-items.filter-text {
  display: flex; 
  flex-wrap: wrap;

  .filter-item.text {
    margin-right: 1em;

    &.active a {
      text-decoration : none;
      color: $color__hover!important;
    }
  }
}

.yith-wcan-filters .yith-wcan-filter a.clear-selection {
  margin-bottom: 5px;
}

.filter-item.radio  {
  label {
    display: flex;
    align-items: center;

    input {
      margin-right: 12px;
    }
  }
}

#shop-page {
  margin-top: 1.8em;
}

.head-col {
  margin-bottom: 2rem;
}

.btn-primary.yith-wcan-reset-filters.reset-filters.enhanced {
  border: 1px solid $color__body;
  font-size: 1rem;
	padding: 10px 20px;
  background: white;
  color: $color__body; 
	text-decoration: none;
	transition: all .3s;
	font-weight: $regular;
  border-radius: 0;
  box-shadow: none;
  transition:none;
}

// CART PAGE
.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
  width: 111px;
  height: 45px;
}

//FIX BOOTSTRAP CONFLICT 
.woocommerce-billing-fields .form-row, .woocommerce-shipping-fields .form-row,.woocommerce form .form-row {
  display: block;
  }
   
  .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
  max-width: unset;
  }


  // FORMS
  .woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    color: $color__body;
    font-size: 0.8em;
    border: solid 1px #C4C4C4!important;
    padding:10px;
    font-weight: $light;
}

// CHECKOUT PAGE
.order_review_heading {
  margin-top: 2em;
}

.woocommerce form .form-row-last, .woocommerce-page form .form-row-last, .woocommerce form .form-row-first, .woocommerce-page form .form-row-first  {
   float: none 
}



.woocommerce .woocommerce-customer-details .woocommerce-customer-details--phone, .woocommerce .woocommerce-customer-details .woocommerce-customer-details--email {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 15px;
}